
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-sidebar: var(--sidebar);
  --color-brand: #00ACAC;

  --color-accent-gray: #7E8D95;
  --color-alert-information: #00ACAC;
  --color-alert-warning: #F59E0B;
  --color-alert-error: #EF4444;
  --color-content-secondary: #4E595F;
}

:root {
  --radius: 0.625rem;

  /* =========================
     BACKGROUND
  ========================== */
  --background: #FFFFFF; /* background-primary */
  --background-secondary: #EEF0F1;
  --background-tertiary: #D2D7DA;
  --background-inverse: #202527;

  /* =========================
     CONTENT
  ========================== */
  --foreground: #202527; /* content-primary */
  --content-secondary: #7E8D95;
  --content-tertiary: #9AA6AC;
  --content-inverse: #FFFFFF;
  --content-brand: #00ACAC;

  /* =========================
     BORDER
  ========================== */
  --border: #D2D7DA; /* border-primary */
  --border-secondary: #EEF0F1;
  --border-strong: #373F43;
  --border-focus: #7E8D95;

  /* =========================
     BRAND
  ========================== */
  --primary: #00ACAC;
  --primary-hover: #167E7E;
  --primary-active: #126868;
  --primary-foreground: #FFFFFF;

  /* =========================
     ALERTS
  ========================== */
  --alert-information: #206DF3;
  --alert-error: #DC3838;
  --alert-warning: #F9C11A;
  --alert-success: #32AE70;

  --alert-information-light: #E0EDFF;
  --alert-error-light: #FBE5E5;
  --alert-warning-light: #FEF7E1;
  --alert-success-light: #E7F8EF;

  /* =========================
     ACCENTS
  ========================== */
  --accent-blue: #206DF3;
  --accent-purple: #6643D0;
  --accent-pink: #FF148A;
  --accent-green: #32AE70;
  --accent-gray: #7E8D95;

  /* =========================
     INPUT STATES
  ========================== */
  --input-border-default: #D2D7DA;
  --input-border-hover: #9AA6AC;
  --input-border-focus: #7E8D95;
  --input-border-disabled: #EEF0F1;

  --content-disabled: #9AA6AC;

  /* Sidebar */
  --sidebar: #FFFFFF;
  --sidebar-foreground: #202527;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);

  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  /* =========================
     BACKGROUND
  ========================== */
  --background: #202527; /* background-inverse */
  --background-secondary: #373F43;
  --background-tertiary: #4E595F;
  --background-inverse: #FFFFFF;

  /* =========================
     CONTENT
  ========================== */
  --foreground: #FFFFFF;
  --content-secondary: #D2D7DA;
  --content-tertiary: #9AA6AC;
  --content-inverse: #202527;
  --content-brand: #00ACAC;

  /* =========================
     BORDER
  ========================== */
  --border: #373F43;
  --border-secondary: #4E595F;
  --border-strong: #EEF0F1;
  --border-focus: #00ACAC;

  /* =========================
     BRAND
  ========================== */
  --primary: #00ACAC;
  --primary-hover: #4FC4C4;
  --primary-active: #9CDEDE;
  --primary-foreground: #202527;

  /* =========================
     ALERTS
  ========================== */
  --alert-information: #206DF3;
  --alert-error: #DC3838;
  --alert-warning: #F9C11A;
  --alert-success: #32AE70;

  --alert-information-light: rgba(32,109,243,0.15);
  --alert-error-light: rgba(220,56,56,0.15);
  --alert-warning-light: rgba(249,193,26,0.15);
  --alert-success-light: rgba(50,174,112,0.15);

  /* =========================
     ACCENTS
  ========================== */
  --accent-blue: #4794FF;
  --accent-purple: #7F5AED;
  --accent-pink: #FF47A3;
  --accent-green: #49CA8A;
  --accent-gray: #9AA6AC;

  /* Sidebar */
  --sidebar: #0A171F;
  --sidebar-foreground: #FFFFFF;

  --card: #18181b
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
   @apply font-jakarta bg-background text-foreground transition-colors duration-300;
  }
}

/* ========================================
   Custom Scrollbar
======================================== */

.custom-scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: rgba(126, 141, 149, 0.4) transparent;
}

/* Webkit */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(126, 141, 149, 0.35); 
  border-radius: 999px;
  border: 2px solid transparent; 
  background-clip: content-box;
  transition: background-color 0.2s ease;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(126, 141, 149, 0.6);
}

/* =====================================================
   GLOBAL INTERACTION
===================================================== */
a, button {
  cursor: pointer;
}